.container {
    width: 80%;
    margin: auto;
    padding: 1rem;
}

html {
    height: 100%;
    font-family: "Lucida Console", "Courier New", monospace;
}
section  img{

    background-color: black;
    border: 2px;
    padding: 4px;
}
div  img{

    background-color: black;
    border: 2px;
    padding: 4px;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, darkolivegreen, saddlebrown);
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

h1, h2 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

.tab {
    overflow: hidden;
    background-color: darkslategrey;
    text-align: center;
    padding: 1rem;
}

.tab a {
    color: white;
    text-decoration: none;
    padding: 2rem;
}

.tab a:hover {
    background-image: linear-gradient(to bottom, darkolivegreen, saddlebrown);
}

.tab a.active {
    background-color: darkolivegreen;
}
article img{
    border: 2px ;
    background-color: black;
    padding: 5px;
}

.card, .kauppa {
    text-align: center;
    padding: 1rem;
    margin: 1rem auto;
    width: 80%;
}

.card img, .kauppa img {
    max-width: 100%;
    height: auto;
}

article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.aside {
    text-align: center;
    background-color: transparent;
    width: 300px;
    border: 5px solid white;
    padding: 30px;
    margin: 2rem auto;
}

footer {
    text-align: center;
    padding: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 2rem;
}

@media screen and (min-width: 769px) {
    .container {
        width: 80%;
    }
}