.container{
    width: 80%;
    margin: auto;
}

@media screen and(min-width: 900px){
    .container{
        width: 80%;
    }
}
html{
    height:100%;
}
p {
    color: white;
}

h1 {
    color: white;
    padding: 1rem;
    border: 1px;
    background-color: dimgrey;
    width: 200px;
    margin: 2rem;

}

h2 {
    color: white;
    padding: 1rem;
    border: 1px;
    background-color: dimgrey;
    width: 75px;
    margin: 2rem;
}
h3 {
    color: white;
    padding: 1rem;
    border: 1px;
    background-color: dimgrey;
    width: 130px;
    margin: 2rem;
    white-space: nowrap;
}


main {
    display: flex;
    gap: 155px;
    color: white;
    margin: 2rem;

}

body {
    background-image: linear-gradient(to bottom, darkolivegreen, saddlebrown);
    background-attachment: fixed;
    background-size: cover;
}

.tab {
  overflow: hidden;
  background-color: darkolivegreen;
}

.tab a {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 50px 30px;
  font-size: 1.5rem;

}
.tab a:hover {
  background-image: linear-gradient(to bottom, darkolivegreen, saddlebrown);
}

.tab a.active {
  background-color: saddlebrown;
}


article {
    display: flex;
    padding: 2rem;
    gap: 200px;


}

article img{
    border: 2px ;
    background-color: dimgrey;
    padding: 1rem;
}

aside {
    width: 220px;
    border: 5px solid white;
    padding: 50px;
    margin: 2rem;

}
body {
    font-family: "Audiowide", sans-serif;
}

section{
    float: left;
    padding: 2rem;
}

section2{
    padding: 2rem;
}

.card, section, section2{
    background-color: dimgrey;
    border: 2px;
    margin: 2rem;
    display: inline-block;
}
h3, h4{
    color: white;
    margin: 2rem;

}

a {
    text-decoration: none;
    color: inherit;
}
